button::before, .button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    transition: 0.5s;
    z-index: 100;    
}

button:hover::before, .button:hover::before {
    left: 100%;
}

.outline-button:hover{
    color: var(--white);
    background-color: var(--purple-accent);
}

.outline-button::before{background: none;}
.icon-link:hover{
    background: var(--purple-accent);
}

.icon-accenc-bg{    
    animation: pulse-purple 2s infinite ease-in-out;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: var(--gradient-purple);
  transition: width 0.3s ease;
  margin: 0 20px;
}

.link:hover::after {
  width: calc(100% - 40px);
}