:root {
    --purple-dark: #3a2d5d;
    --purple-medium: #5e4b8b;
    --purple-light: #7d6ba0;
    --purple-accent: #9d8ac7;
    --purple-accent-glass: rgba(157, 138, 199, 0.2);
    --gray-dark: #2a2a2a;
    --gray-medium: #4a4a4a;
    --gray-light: #e0e0e0;
    --white: #ffffff;

    --text-color: var(--gray-light);
    --bg-color:var(--gray-dark);
    
    --gradient-purple: linear-gradient(135deg, var(--purple-medium), var(--purple-accent));
    --gradient-gray: linear-gradient(135deg, var(--gray-medium), var(--gray-dark));
    
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Orbitron', sans-serif;
    
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 15px 30px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s ease;
}

.row{
    display: flex;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}
section.center>header{align-items: center;}

.space{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}