<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Задай название{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO метатеги по умолчанию с отдельными блоками -->
    {% block meta_description %}<meta name="description" content="">{% endblock %}
    {% block meta_keywords %}<meta name="keywords" content="">{% endblock %}
    {% block meta_author %}<meta name="author" content="falbue">{% endblock %}
    {% block meta_robots %}<meta name="robots" content="index, nofollow">{% endblock %}
    {% block meta_app %}<meta name="mobile-web-app-capable" content="yes">{% endblock %}
    
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Подключение JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!-- Подключение Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Orbitron:wght@500;700&display=swap" rel="stylesheet">

    <!-- Подключение иконок -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />

    <!-- Фавиконка -->
    <link rel="icon" href="{{ url_for('static', filename='image/ghonse.svg') }}" type="image/x-icon">

    <!-- Цвет темы -->
    <meta name="theme-color" content="#19132E">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
        </div>
    </div>

    <header>
        <a href="/" class="row">
            <img src="{{ url_for('static', filename='images/Ghonse.svg') }}" alt="logo">
            <h4>GameSense</h4>
        </a>
        <nav>
            <a href="index.html" class="active">Главная</a>
            <a href="https://game-sense.ru/price">Тарифы</a>
            <a href="#gallery">Галерея</a>
            <a href="#tournaments">Турниры</a>
            <a href="/promotions">Акции</a>
            <a href="#contact">Контакты</a>
        </nav>
    </header>
    
    <!-- Mobile Menu -->
    <div class="mobile-menu mobile">
        <div class="mobile-menu-close">
            <i class="fas fa-times"></i>
        </div>
        <ul>
            <li><a href="index.html" class="active">Главная</a></li>
            <li><a href="#pricing">Тарифы</a></li>
            <li><a href="#gallery">Галерея</a></li>
            <li><a href="#tournaments">Турниры</a></li>
            <li><a href="#promo">Акции</a></li>
            <li><a href="#contact">Контакты</a></li>
        </ul>
        <a href="#" class="btn btn-primary">Забронировать</a>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}

    <footer id="contact">
        <div class="space">
            <div>
                <h4 class="orbitron">GameSense PC Club</h4>
                <div class="line"></div>
                <p>Премиальное гейминг пространство с лучшим оборудованием и атмосферой.</p>
                <div class="row">
                    <a class="icon-link" href="https://vk.com/gamesensemgn?from=groups"><h4 class="fab fa-vk"></h4></a>
                    <a class="icon-link" href="https://t.me/GameSenseLounge"><h4 class="fab fa-telegram"></h4></a>
                </div>
            </div>
            <div>
                <h4>Часы работы</h4>
                <div class="line"></div>
                <p class="far fa-clock icon-accent"><span class="gray-text"> Круглосуточно</span></p>
            </div>

            <div class="column">
                <h4>Контакты</h4>
                <div class="contact">
                    <p class="fas fa-map-marker-alt icon-accent"><span class="gray-text">   г. Магнитогорск, ул. газеты Правда, 59</span></p>
                    <p class="fas fa-phone icon-accent"><span class="gray-text">    +7 (909) 097-82-32</span></p>
                    <p class="fas fa-envelope icon-accent"><span class="gray-text">    gamesense.ghost@gmail.com</span></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 GameSense PC Club. Все права защищены.</p>
            <a href="#" class="footer-link">Политика конфиденциальности</a>
        </div>
    </footer>

</body>
</html>