<div id="overlay"></div>

<section class="right-sidebar sidebar" id="header">
	<nav class="column">
		<a class="link" href="/"><h4 class="iconoir-home-simple-door">Главная</h4></a>
		<a class="link" href="https://game-sense.ru/price"><h4 class="iconoir-money-square-solid">Тарифы</h4></a>
		<a class="link" href="#gallery"><h4 class="iconoir-media-image">Галерея</h4></a>
		<a class="link" href="#tournaments"><h4 class="iconoir-leaderboard-star">Турниры</h4></a>
		<a class="link" href="/promotions"><h4 class="iconoir-percentage-square-solid">Акции</h4></a>
		<a class="link" href="#contact"><h4 class="iconoir-community">Контакты</h4></a>
	</nav>
	<a class="button">Забронировать</a>
</section>